h1 {
  text-align: center;
}

td {
  text-align: center;
  padding: 10px;
}

p.links {
  text-align: left;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

article {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

footer {
  text-align: center;
}

