@import url('https://fonts.googleapis.com/css?family=Pacifico');

h1 {
  text-align: center;
  font-family: Pacifico,cursive;
}

p.links {
  text-align: left;
}

article {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

footer {
  text-align: center;
}

header, footer, nav {
  background: white;
}
