@import url('https://fonts.googleapis.com/css?family=Pacifico');

h1.title {
  text-align: center;
  font-family: Pacifico,cursive;
}

p.links {
  text-align: left;
}

/*article {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}*/

footer {
  text-align: center;
}

header, footer, nav {
  background: white;
}

/*nav a:visited {
  color: #586282;
}

nav a:hover {
  font-weight: bold;
}

nav a:active {
  text-decoration: none;
}*/

.mm-text-shadow {
  color: white;
  text-shadow:3px 3px 3px #000;
}
