@import url('https://fonts.googleapis.com/css?family=Pacifico');

h1.title {
  text-align: center;
  font-family: Pacifico,cursive;
}

p.links {
  text-align: left;
}

footer {
  text-align: center;
}

header, footer, nav {
  background: white;
}

.mm-text-shadow {
  color: white;
  text-shadow: 3px 3px 3px #000;
  background: rgba(0,0,0,0.5);
}

.jswarn {
  color: white;
  background: red;
}
